body
{
  background-color: #A5182B;
  padding: 0px 50px 60px 50px;
}

.main-box
{
  background-color: #FFFFFF;
  padding: 20px;
  border: solid #3B3A37;
  border-top-width: 20px;
  border-right-width: 0px;
  border-bottom-width: 30px;
  border-left-width: 0px;
  box-shadow: 10px 0px 15px;
}

.grade-box
{
  padding: 20px;
}

.main-header
{
  font-family: "Arial", sans-serif;
  font-weight: lighter;
}

.sub-header
{
  color: #A7192F;
  font-size: 20px;
}

.calculator-background
{
  background-color: #E9EEF1;
  padding: 10px;
  width: 800px;
}

.calculator-box
{
  margin: 15px;
  padding-bottom: 25px;
}

table
{
  border-spacing: 0px;
}

tr
{
  padding: 10px 40px 10px 10px;
}

td
{
  border: 1px solid #CCCCCC;
  border-style: solid;
  width: 100px;
  padding: 10px 40px 10px 10px;
}

th
{
  background-color: #DDDDDD;
  font-weight: bold;
  border-style: solid;
  border-width: 1px;
  border-color: #CCCCCC;
  text-align: left;
}

.tips
{
  font-size: 10px;
}

input
{
  width: 70px;
  margin: 5px;
}

.button-list
{
  display: inline;
  float: right;
}

button
{
  background-color: #A5182B;
  border: 0px;
  font-family: "Arial",sans-serif;
  font-weight: bold;
  color: #FFFFFF;
  padding: 5px 10px 5px 10px;
}

button:hover
{
  background-color: #A5AA2B;
}
